<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="HtmlDomLogLevel">${sys:htmldom.log.level:-info}</Property>
        <Property name="ExternalLogLevel">${sys:htmldom.external.log.level:-warn}</Property>
        <Property name="ConsolePattern">%style{[%d{HH:mm:ss.SSS}]}{bright black} %highlight{[%-5level]}{FATAL=bright red, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=blue} %style{[%t]}{blue} %style{[%logger{1}]}{magenta} %msg%n%throwable</Property>
        <Property name="FilePattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [HtmlDom] [%t] %-5level %logger{96} - %msg%n%throwable</Property>
        <Property name="LogFile">${sys:htmldom.log.file:-logs/htmldom.log}</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${ConsolePattern}" disableAnsi="${sys:htmldom.log.noColor:-false}" noConsoleNoAnsi="false"/>
        </Console>

        <File name="File" fileName="${LogFile}" append="false" createOnDemand="true">
            <PatternLayout pattern="${FilePattern}"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="dev.takesome.htmldom" level="${HtmlDomLogLevel}" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <Logger name="org.apache.logging" level="${ExternalLogLevel}"/>

        <Root level="warn">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
