main, section, div, header, footer, nav, article, aside, dialog, form { display: block; margin: 0; padding: 0; }
ul, ol { display: block; margin-top: 16px; margin-bottom: 16px; padding-left: 40px; }
li { display: block; margin: 0; padding: 0; }
table { display: block; margin: 0; padding: 0; }
thead { display: block; margin: 0; padding: 0; }
tbody { display: block; margin: 0; padding: 0; }
tr { display: flex; flex-direction: row; margin: 0; padding: 0; }
th { display: block; margin: 0; padding: 4px 6px; font-weight: bold; }
td { display: block; margin: 0; padding: 4px 6px; }
dialog { background-color: transparent; border-width: 0; }
