p { display: block; margin-top: 16px; margin-bottom: 16px; padding: 0; }
h1 { display: block; margin-top: 10px; margin-bottom: 10px; padding: 0; font-size: 32px; font-weight: bold; }
h2 { display: block; margin-top: 9px; margin-bottom: 9px; padding: 0; font-size: 24px; font-weight: bold; }
h3 { display: block; margin-top: 8px; margin-bottom: 8px; padding: 0; font-size: 19px; font-weight: bold; }
h4 { display: block; margin-top: 7px; margin-bottom: 7px; padding: 0; font-size: 16px; font-weight: bold; }
h5 { display: block; margin-top: 6px; margin-bottom: 6px; padding: 0; font-size: 13px; font-weight: bold; }
h6 { display: block; margin-top: 5px; margin-bottom: 5px; padding: 0; font-size: 11px; font-weight: bold; }
span { display: inline; margin: 0; padding: 0; }
label { display: inline; margin: 0; padding: 0; }
pre { display: block; margin: 0; padding: 8px; font-family: ui-monospace, monospace; white-space: pre; overflow: auto; }
code { display: inline; margin: 0; padding: 0; font-family: ui-monospace, monospace; white-space: pre; }
