* {
    box-sizing: content-box;
}

body {
    display: block;
    width: 100%;
    height: 100%;
    margin: 8px;
    padding: 0;
    color: #111827;
    font-family: "FS Elliot Pro", system-ui, sans-serif;
    font-size: 16px;
    line-height: normal;
}

template {
    display: none;
}

style {
    display: none;
}

br {
    display: block;
    width: 100%;
    height: 16px;
    margin: 0;
    padding: 0;
}

hr {
    display: block;
    height: 1px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0;
    border-width: 0;
    background-color: #d1d5db;
}

progress {
    display: block;
    margin: 0;
    padding: 0;
    min-width: 80px;
    height: 8px;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
